.noDataAvailable {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #a0a0a0;
    padding: 25px 20px;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    h4 {
        letter-spacing: 0px;
        font-size: 18px;
        line-height: 34px;
        color: #000000;
        margin: 0;
    }
    .description {
        font-size: 14px;
        line-height: 23px;
        color: #858997;
    }
    
    
}
  
 
  