<div class="width100 pad20 bdr-btm-1-d5dcef bg-linear-gradient">
  <div class="flex flexJustifyBetween">
    <div class="flex flexAlignItemsCenter">
      <!-- <div class="color-909aba poppins-semibold font16 lineHeight26px">
        {{'User' | translate}}:
      </div> -->
    </div>
    <div class="flex flexAlignItemsCenter">
      <div class="d40 bdrRadius50p ripple cursorPtr  flex flexAlignItemsCenter flexJustifyCenter">
        <i class="d30 icon-notification icns"></i>
      </div>
      <div class="pad10"></div>
      <div class="bdr-1-d5dcef height40px"></div>
      <div class="pad10"></div>
      <div class="d40 bdrRadius50p ripple cursorPtr flex flexAlignItemsCenter flexJustifyCenter" (click)="logout()">
        <i class="icon-logout blue icns d20"></i>
      </div>
    </div>
  </div>
</div>
