/* Font Family Start Here */
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-thin;
  src: url(../fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: lato-semibold;
  src: url(../fonts/LatoSemibold.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-heavy;
  src: url(../fonts/Lato-Heavy.ttf);
}



/* Font Family End Here */


.poppins-bold {
  font-family: poppins-bold;
}

.poppins-thin {
  font-family: poppins-thin;
}

.poppins-light {
  font-family: poppins-light;
}

.poppins-medium {
  font-family: poppins-medium;
}

.poppins-regular {
  font-family: poppins-regular;
}

.poppins-semibold {
  font-family: poppins-semibold;
}

.lato-semibold {
  font-family: lato-semibold;
}

.lato-bold {
  font-family: lato-bold;
}

.lato-regular {
  font-family: lato-regular;
}

.lato-heavy {
  font-family: lato-heavy;
}
