.search {
  background-image: url(../../../../assets/images/search_blue.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 10px !important;
  background-size: 22px 22px;
}
